<ul class="layout-menu-ul" role="menu">
    <li class="layout-menu-li" *ngFor="let item of menuList" role="listMenu">
        <i [class]="item.iconPath" class="menu-icon"></i>
        <p class="menu-text ml-2 mr-3">{{item.name}}</p>
        <div *ngIf="item.subMenu != null && item.subMenu.length > 0">
            <i class="pi pi-fw {{ active ? 'pi-angle-up' : 'pi-angle-down' }}"></i>
            <ul class="layout-subMenu-ul" *ngIf="active && item.subMenu.length > 0"
                [@children]="active ? 'visibleAnimated' : 'hiddenAnimated'" role="menu">
                <li class="layout-submMenu-li" *ngFor="let item of item.subMenu">
                    <i [class]="item.iconPath" class="menu-icon"></i>
                    <p class="menu-text ml-2 mr-3">{{item.name}}</p>
                </li>
            </ul>
        </div>
    </li>
</ul>