/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";
@import "assets/scss/layout/_variables";
@import "assets/scss/layout/backgroung";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  z-index: 1;
}

body::before {
  content: "";
  background-image: $backgroung-image;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
}
body::after {
  content: "";
  flex-grow: 1;
  background: #f2f2f2;
}
